.purchase-container {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 100%;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  border: solid 1px #d1d1d1;

  .item-header {
    font-weight: bold;
    padding-bottom: 3rem;
  }

  .item-image {
    width: 100%;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .item-price {
    padding: 2rem 0;
    font-weight: bold;
    text-align: right;
  }

  .add-to-cart {
    cursor: pointer;
    width: 100%;
    border-radius: 1rem;
    color: white;
    background-color: #f64e5a;
    border: solid 1px white;
    padding: 0.75rem 0;
    transition: 0.3s all;

    &:hover {
      color: #f64e5a;
      background-color: white;
      border: solid 1px #f64e5a;
    }
  }
}