@import 'components/PurchaseItem.scss';
@import 'components/CartItem.scss';
@import 'components/Summary.scss';

body {
  font-family: Raleway;
  background-color: #f9f9f9;

  .purchase-row-header {
    font-size: 2rem;
    font-weight: bold;
  }

  .purchase-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
  }

  .shopping-cart-container {
    display: flex;
    flex-direction: row;
    margin: 1rem 1.5rem;

    .current-cart-container {
      display: flex;
      flex-direction: column;
      min-height: 20rem;
      width: 100%;
      margin: 1rem;

      .current-cart-header {
        display: flex;
        flex-direction: row;
        margin: 1.25rem;
        font-size: 2rem;
        font-weight: bold;
        justify-content: space-between;
      }
    }
  }
}